a, a:visited {
    text-decoration: underline;
    color: #2596be;
}
a:hover {
    text-decoration: underline;
    color: #2596be;
}

p {
    color:  #2c2a2d;
}

#content {
    margin: auto;
    width: 100%;
    max-width: 650px;
    text-align:justify;
    font-family: sans-serif;
}
