a, a:visited {
    text-decoration: underline;
    color: #2596be;
}
a:hover {
    text-decoration: underline;
    color: #2596be;
}

p {
    color:  #2c2a2d;
    font-size: 1em;
}

p.delete {
    text-decoration: line-through;
}

#content {
    margin: auto;
    width: 100%;
    max-width: 50em; 
    min-width: 20em; 
    text-align:justify;
    font-family: sans-serif;
}

.col3 {
  float: left;
  width: 32%;
  padding: 0.5%;
}


.col4 {
  float: left;
  width: 24%;
  padding: 0.5%;
}


.col5 {
  float: left;
  width: 19%;
  padding: 0.5%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 

img {
    float: center;
    width: 100%;
    height: 9em;
    object-fit: cover;
}
